<div class="block full-width">
    <h2 class="center">Party reputation</h2>
    {% if partyData.help.reputation %}
        <p class="help">{{ partyData.help.reputation }}</p>
    {% endif %}
    <table>
        <thead>
        <tr>
            <th title="{{ 'REPUTATION_NAME'|trans }}">{{ 'LABEL_REPUTATION'|trans }}</th>
            <th>{{ 'LABEL_NEGATIVE_F'|trans }}</th>
            <th>{{ 'LABEL_POSITIVE_F'|trans }}</th>
            <th title="{{ 'REPUTATION_PARTY_INFLUENCE_EXPLANATION'|trans }}">{{ 'LABEL_INFLUENCE'|trans }}</th>
            <th>{{ 'LABEL_BALANCE'|trans }}</th>
            <th>{{ 'LABEL_DICE'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% if partyData.reputation %}
            {% for reputation in partyData.reputation %}
                <tr title="{{ reputation.description }}">
                    <td class="left">{{ reputation.name }}</td>
                    <td class="center" title="{{ 'REPUTATION_LOWEST'|trans }}: {{ reputation.negativeMin }}">{{ reputation.negative }}</td>
                    <td class="center" title="{{ 'REPUTATION_HIGHEST'|trans }}: {{ reputation.positiveMax }}">{{ reputation.positive }}</td>
                    <td class="center">{{ reputation.influence }}</td>
                    <td class="center">{{ reputation.balance }}</td>
                    <td class="center">{{ reputation.dice }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" class="center note">{{ 'NO_DATA'|trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div class="clear"></div>

<div class="block full-width">
    <h2 class="center">Personal reputation of party members</h2>
    {% if partyData.help.membersReputations %}
        <p class="help">{{ partyData.help.membersReputations }}</p>
    {% endif %}
    {% if partyData.membersReputations %}
        {% for memberReputation in partyData.membersReputations %}
            <div class="block padded twosplit">
                <table>
                    <caption>{{ memberReputation.name }}</caption>
                    <thead>
                    <tr>
                        <th title="{{ 'REPUTATION_NAME'|trans }}">{{ 'LABEL_REPUTATION'|trans }}</th>
                        <th>{{ 'LABEL_NEGATIVE_F'|trans }}</th>
                        <th>{{ 'LABEL_POSITIVE_F'|trans }}</th>
                        <th>{{ 'LABEL_BALANCE'|trans }}</th>
                        <th>{{ 'LABEL_DICE'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if memberReputation.reputations %}
                        {% for reputation in memberReputation.reputations %}
                            <tr title="{{ reputation.description }}">
                                <td class="left">{{ reputation.name }}</td>
                                <td class="center" title="{{ 'REPUTATION_LOWEST'|trans }}: {{ reputation.negativeMin }}">{{ reputation.negative }}</td>
                                <td class="center" title="{{ 'REPUTATION_HIGHEST'|trans }}: {{ reputation.positiveMax }}">{{ reputation.positive }}</td>
                                <td class="center">{{ reputation.balance }}</td>
                                <td class="center">{{ reputation.dice }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" class="center note">{{ "NO_DATA_FOR_PERSON"|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        <div class="clear"></div>
    {% else %}
        <p class="note">
            {{ 'NO_DATA_LIST_FULL'|trans }}
        </p>
    {% endif %}
</div>

<div class="clear"></div>
