<div id="reputation">
    <div class="block full-width">
        <h2 class="center">Reputation events</h2>
        <table>
            <thead>
            <tr>
                <th>Event</th>
                <th>Reputation</th>
                <th>Change</th>
                <th>New<br>value</th>
                <th>When</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            {% if partyData.reputationHistory %}
                {% for reputationEvent in partyData.reputationHistory %}
                    <tr>
                        <td class="left">{{ reputationEvent.name }}</td>
                        <td class="center">{{ reputationEvent.reputation }}</td>
                        <td class="center">{{ reputationEvent.change }}</td>
                        <td class="center">{{ reputationEvent.newValue }}</td>
                        <td class="center">{{ reputationEvent.when }}</td>
                        <td class="justified">{{ reputationEvent.notes }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" class="center note">No data available</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

<div class="clear"></div>

{% if partyData.pastMembers %}
    <div class="block">
        <h2 class="center">Past members</h2>
        {% if partyData.help.pastMembers %}
            <p class="help">{{ partyData.help.pastMembers }}</p>
        {% endif %}
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th title="Apparent nationality and profession or trade they work in">Who is this?</th>
                <th>Time of departure</th>
                <th>Reason of departure</th>
            </tr>
            </thead>
            <tbody>
            {% for member in partyData.pastMembers %}
                <tr title="{{ member.comment }}">
                    <td class="left">{{ member.name }}</td>
                    <th title="Apparent nationality and profession or trade they work in">Who is this?</th>
                    <td class="center">{{ member.when }}</td>
                    <td class="justified">{{ member.reason }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="clear"></div>
{% endif %}