{% if partyData.help.state %}
    <p class="help">{{ partyData.help.state }}</p>
{% endif %}

<div class="block">
    <h2 class="center">{{ 'PARTY_MEMBERS'|trans }}</h2>
    {% if partyData.help.members %}
        <p class="help">{{ partyData.help.members }}</p>
    {% endif %}
    <table>
        <thead>
        <tr>
            <th>{{ 'CHARACTER_NAME'|trans }}</th>
            <th title="{{ 'CHARACTER_WHO_EXPLANATION'|trans }}">{{ 'CHARACTER_WHO'|trans }}</th>
            <th>{{ 'CHARACTER_APPEARANCE'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% if partyData.members %}
            {% for member in partyData.members %}
                <tr title="{{ member.comment }}">
                    <td class="left">{{ member.name }}</td>
                    <td class="center">{{ member.short }}</td>
                    <td class="justified">{{ member.appearance }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3" class="center note">{{ 'NO_DATA'|trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div class="clear"></div>

{% if partyData.absentMembers %}
    <div class="block">
        <h2 class="center">{{ 'Absent members'|trans }}</h2>
        {% if partyData.help.absentMembers %}
            <p class="help">{{ partyData.help.absentMembers }}</p>
        {% endif %}
        <table>
            <thead>
            <tr>
                <th>{{ 'CHARACTER_NAME'|trans }}</th>
                <th title="{{ 'CHARACTER_WHO_EXPLANATION'|trans }}">{{ 'CHARACTER_WHO'|trans }}</th>
                <th>{{ 'CHARACTER_REASON_ABSENCE'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for member in partyData.pastMembers %}
                <tr title="{{ member.comment }}">
                    <td class="left">{{ member.name }}</td>
                    <td class="center">{{ member.short }}</td>
                    <td class="justified">{{ member.reason }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="clear"></div>
{% endif %}
