<div class="menu">
    <a href="{{ app.request.basepath }}/">{{ 'MENU_MAIN'|trans }}</a>
    <a href="{{ app.request.basepath }}/party/">{{ 'MENU_PARTY'|trans }}</a>
    <a href="{{ app.request.basepath }}/epic/">{{ 'MENU_EPIC'|trans }}</a>
</div>
