{% extends "layout/page.twig" %}
{% block content %}

    <h1>{{ 'CAMPAING_TITLE'|trans }}</h1>
    <div class="block padded">
        {% if campaignData.help.stories %}
            <p class="help">{{ campaignData.help.stories }}</p>
        {% endif %}
        <div id="story-list">
            {% if campaignData.stories %}
                {% for story in campaignData.stories %}
                    <div id="story-{{ loop.index }}">
                        <h2 class="center">{{ story.name }}</h2>

                        <div class="block padded twothirdsplit">
                            <h3>{{ 'CAMPAING_RECAP'|trans }}</h3>
                            {% if story.short %}
                                <p class="justified">{{ story.short }}</p>
                            {% else %}
                                <p class="center note">No recap found.</p>
                            {% endif %}
                        </div>
                        <div class="block padded threesplit">
                            {% if story.parameters %}
                                <table>
                                    <tbody>
                                    {% for parameter in story.parameters %}
                                        <tr title="{{ parameter.description }}">
                                            <td class="left">{{ parameter.name }}</td>
                                            <td class="center">{{ parameter.value }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p class="center note">No story parameters found. This is an error.</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="block padded">
                        <h3>{{ 'CAMPAING_COMPLETE_HISTORY'|trans }}</h3>
                        {% if story.long %}
                            <div id="story-long-{{ loop.index }}" class="justified">
                                {{ story.long|raw }}
                            </div>
                        {% else %}
                            <p class="center note">{{ 'NO_DATA'|trans }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <p class="center note">
                    {{ 'NO_DATA'|trans }}. {{ 'NO_DATA_ERROR_LIKELY'|trans }}.
                </p>
            {% endif %}
        </div>
    </div>

    <div class="clear"></div>

{% endblock %}
