{% extends "layout/page.twig" %}
{% block content %}
<h1>Character data - {{ characterData.name }} - current information</h1>

    <div class="block padded threesplit">
        <h2 class="center">Basics</h2>
        <table>
            <tbody>
            {% for basic in characterData.basics %}
                <tr title="{{ basic.description }}">
                    <td class="left">{{ basic.name }}</td>
                    <td class="center">{{ basic.value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="block padded threesplit">
        <h2 class="center">Money</h2>
        <table>
            <tbody>
            {% for moneyRow in characterData.money %}
                <tr>
                    <td class="left">{{ moneyRow.currency }}</td>
                    <td class="center">{{ moneyRow.value }}</td>
                    <td class="center">{{ moneyRow.location }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="clear"></div>

    <div class="block padded">
        <h2 class="center">Reputation</h2>

        <p>N / M format in Negative and Positive columns signify
            <def>current value (N)</def>
            and
            <def>most extreme value that happened to this reputation(M)</def>
            . Balance is calculated as sum of N
            values of the reputation, M values are used for auxiliary calculations.
        </p>
        <table>
            <thead>
            <tr>
                <th>Reputation</th>
                <th>Negative</th>
                <th>Positive</th>
                <th>Balance</th>
                <th>Dice</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% for reputation in characterData.reputations %}
                <tr title="{{ reputation.description }}">
                    <td class="left">{{ reputation.name }}</td>
                    <td class="center">{{ reputation.negative }} / {{ reputation.negativeMin }}</td>
                    <td class="center">{{ reputation.positive }} / {{ reputation.positiveMax }}</td>
                    <td class="center">{{ reputation.balance }}</td>
                    <td class="center">{{ reputation.dice }}</td>
                    <td class="center">{{ reputation.details }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="clear"></div>

{% endblock %}
