{% extends "layout/page.twig" %}
{% block content %}
    <h1>Character chart - {{ characterData.name }}</h1>

    <p class="note">This is a very primitive form of character sheet, intended only for base display. In case any errors
        are encountered, please report them to the GM.</p>

    <div class="block padded foursplit">
        <h2 class="center">Attributes</h2>
        <table>
            <tbody>
            {% for attribute in characterData.attributes %}
                <tr>
                    <td class="left">{{ attribute.name }}</td>
                    <td class="center">{{ attribute.value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="block padded threesplit">
        <h2 class="center">Auxiliary stats</h2>
        <table>
            <tbody>
            {% for roll in characterData.rolls %}
                <tr>
                    <td class="left">{{ roll.label }}</td>
                    <td class="center">{{ roll.value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="clear"></div>

    <div class="block padded twothirdsplit">
        <h2 class="center">Advantages</h2>
        <table>
            <tbody>
            {% for advantage in characterData.advantages %}
                <tr title="{{ advantage.description }}">
                    <td class="left">{{ advantage.name }}</td>
                    <td class="center">{{ advantage.level }}</td>
                    <td class="left">{{ advantage.details }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="block padded foursplit">
        <h2 class="center">Languages</h2>
        <table>
            <tbody>
            {% for language in characterData.languages %}
                <tr title="{{ language.description }}">
                    <td class="left">{{ language.name }}</td>
                    <td class="center">{{ language.level }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="clear"></div>

    <div>
        <h2 class="center">Abilities</h2>
        {% for skill in characterData.skillGroups %}
            <div class="block foursplit">
                <h3 class="center">{{ skill.name }}</h3>
                <table>
                    <tbody>
                    {% for knack in skill.skills %}
                        <tr class="{{ knack.class }}">
                            <td class="left">{{ knack.name }}</td>
                            <td class="center">{{ knack.value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>

    <div class="clear"></div>

    <div class="block padded twosplit">
        <h2 class="center">Reputation</h2>
        <table>
            <tbody>
            {% for reputation in characterData.reputations %}
                <tr title="{{ reputation.description }}">
                    <td class="left">{{ reputation.name }}</td>
                    <td class="center">{{ reputation.negative }} / {{ reputation.negativeMin }}</td>
                    <td class="center">{{ reputation.positive }} / {{ reputation.positiveMax }}</td>
                    <td class="center">{{ reputation.balance }}</td>
                    <td class="center">{{ reputation.dice }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="block padded twosplit">
        <h2 class="center">Contacts</h2>
        <table>
            <tbody>
            {% for contact in characterData.contacts %}
                <tr>
                    <td class="left">{{ contact.name }}</td>
                    <td class="center">{{ contact.details }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="clear"></div>

    <div class="block padded threesplit">
        <h2 class="center">Money</h2>

        <table>
            <tbody>
            {% for moneyRow in characterData.money %}
                <tr>
                    <td class="left">{{ moneyRow.currency }}</td>
                    <td class="center">{{ moneyRow.count }}</td>
                    <td class="center">{{ moneyRow.location }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="block padded threesplit">
        <h2 class="center">Income</h2>

        <table>
            <tbody>
            {% for incomeSource in characterData.income %}
                <tr>
                    <td class="left">{{ income.name }}</td>
                    <td class="center">{{ income.frequency }}</td>
                    <td class="center">{{ income.value }}</td>
                    <td class="center">{{ income.currency }}</td>
                    <td class="left"
                    {{ income.details }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class=" block padded threesplit">
        <h2 class="center">Equipment</h2>

        <table>
            <tbody>
            {% for equipmentItem in characterData.equipment %}
                <tr>
                    <td class="left">{{ equipmentItem.name }}</td>
                    <td class="left">{{ equipmentItem.details }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="block padded threesplit">
        <h2 class="center">Defences</h2>
        <table>
            <thead>
            <tr>
                <th>Situation</th>
                <th>Passive</th>
                <th>Active</th>
            </tr>
            </thead>
            <tbody>
            {% for defence in characterData.defences %}
                <tr>
                    <td class="left">{{ defence.label }}</td>
                    <td class="center">{{ defence.value }}</td>
                    <td class="center">{{ defence.roll }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
