{% extends "layout/page.twig" %}
{% block content %}
    <h1 class="center">Character chart - {{ characterData.name }}</h1>

    <div id="character-display">

        <ul>
            <li><a href="{{ app.request.basepath }}/character/{{ characterKey }}/#current">Current state</a></li>
            <li><a href="{{ app.request.basepath }}/character/{{ characterKey }}/#main">Main sheet</a></li>
            <li><a href="{{ app.request.basepath }}/character/{{ characterKey }}/#reputation">Reputation</a></li>
            <li><a href="{{ app.request.basepath }}/character/{{ characterKey }}/#development">Development</a></li>
            <li><a href="{{ app.request.basepath }}/character/{{ characterKey }}/#descriptions">Descriptions</a></li>
        </ul>

        <div class="clear"></div>

        <div id="current">
            {% include "character/_character_current.twig" %}
        </div>

        <div id="main">
            {% include "character/_character_main.twig" %}
        </div>

        <div id="reputation">
            {% include "character/_character_rep.twig" %}
        </div>

        <div id="development">
            {% include "character/_character_develop.twig" %}
        </div>

        <div id="descriptions">
            {% include "character/_character_descr.twig" %}
        </div>

    </div>

    <script>
        $(function () {
            $("#character-display").tabs({
                active: 0
            });
        });
    </script>

{% endblock %}
