{% extends "layout/print.twig" %}
{% block content %}
    <h1 class="center">{{ characterData.name }}</h1>

    <div class="clear"></div>

    <div class="block padded threesplit">
        <h2 class="center">Basics</h2>
        <table>
            <tbody>
            {% for basic in characterData.basics %}
                <tr title="{{ basic.description }}">
                    <td class="left">{{ basic.name }}</td>
                    <td class="center">{{ basic.value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="block padded foursplit">
        <h2 class="center">Attributes</h2>
        {% if characterData.attributes %}
            <table>
                <tbody>
                {% for attribute in characterData.attributes %}
                    <tr>
                        <td class="left">{{ attribute.name }}</td>
                        <td class="center bigdot">{% for i in 1..attribute.value %}&#9679;{% endfor %}{% for i in 1..(5-attribute.value) %}&#9675;{% endfor %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="center note">No attributes found. This is an error.</p>
        {% endif %}
    </div>

    <div class="block padded threesplit">
        <h2 class="center">Auxiliary stats</h2>
        {% if characterData.rolls %}
            <table>
                <tbody>
                {% for roll in characterData.rolls %}
                    <tr>
                        <td class="left">{{ roll.label }}</td>
                        <td class="center">{{ roll.value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="center note">No auxiliary stats found.</p>
        {% endif %}
    </div>

    <div class="block padded threesplit">
        <h2 class="center">Variables</h2>
        {% if characterData.variables %}
            <table>
                <tbody>
                {% for variable in characterData.variables %}
                    <tr title="{{ variable.description }}">
                        <td class="left">{{ variable.name }}</td>
                        <td class="center">{{ variable.value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="center note">No variables found.</p>
        {% endif %}
    </div>

    <div class="clear"></div>

    <div class="block padded twothirdsplit">
        <h2 class="center">Advantages</h2>
        <table>
            <tbody>
            {% if characterData.advantages %}
                {% for advantage in characterData.advantages %}
                    <tr title="{{ advantage.description }}">
                        <td class="left">{{ advantage.name }}</td>
                        <td class="center">{{ advantage.level }}</td>
                        <td class="left">{{ advantage.details }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3" class="center note">No advantages found</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="block padded foursplit">
        <h2 class="center">Languages</h2>
        <table>
            <tbody>
            {% if characterData.languages %}
                {% for language in characterData.languages %}
                    <tr title="{{ language.description }}">
                        <td class="left">{{ language.name }}</td>
                        <td class="center">{{ language.level }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2" class="center note">No languages found. This is likely an error.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="clear"></div>

    <div>
        <h2 class="center">Abilities</h2>
        {% for skill in characterData.skillGroups %}
            <div class="block threesplit">
                <h3 class="center">{{ skill.name }}</h3>
                <table>
                    <tbody>
                    {% for knack in skill.skills %}
                        <tr class="{{ knack.class }}">
                            <td class="left">{{ knack.name }}</td>
                            <td class="center bigdot">
                                {% if knack.value > 0 %}{% for i in 1..knack.value %}&#9679;{% endfor %}{% endif %}{% for i in 1..(5-knack.value) %}&#9675;{% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if (loop.index%3) == 0 %}
                <div class="clear"></div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="clear"></div>

    <div class="block padded">
        <h2 class="center">Contacts</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Who is this?</th>
                <th>Who is this to you?</th>
                <th>Attitude towards you</th>
                <th>Usefulness</th>
                <th>Your knowledge</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% if characterData.contacts %}
                {% for contact in characterData.contacts %}
                    <tr>
                        <td class="left">{{ contact.name }}</td>
                        <td class="left">{{ contact.whoGenerally }}</td>
                        <td class="left">{{ contact.whoToPerson }}</td>
                        <td class="center">{{ contact.like }}</td>
                        <td class="center">{{ contact.usefulness }}</td>
                        <td class="center">{{ contact.knowledge }}</td>
                        <td class="center">{{ contact.details }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7" class="center note">No contacts found</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="clear"></div>

    <div class="block padded twosplit">
        <h2 class="center">Income</h2>
        <table>
            <thead>
            <tr>
                <th>Source</th>
                <th>Frequency</th>
                <th>Value</th>
                <th>Currency</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% if characterData.income %}
                {% for incomeSource in characterData.income %}
                    <tr>
                        <td class="left">{{ incomeSource.name }}</td>
                        <td class="center">{{ incomeSource.frequency }}</td>
                        <td class="center">{{ incomeSource.value }}</td>
                        <td class="center">{{ incomeSource.currency }}</td>
                        <td class="left">{{ incomeSource.details }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="center note">No income found</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="block padded twosplit">
        <h2 class="center">Expenses</h2>
        <table>
            <thead>
            <tr>
                <th>Source</th>
                <th>Frequency</th>
                <th>Value</th>
                <th>Currency</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% if characterData.expenses %}
                {% for expenseGoal in characterData.expenses %}
                    <tr>
                        <td class="left">{{ expenseGoal.name }}</td>
                        <td class="center">{{ expenseGoal.frequency }}</td>
                        <td class="center">{{ expenseGoal.value }}</td>
                        <td class="center">{{ expenseGoal.currency }}</td>
                        <td class="left">{{ expenseGoal.details }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="center note">No expenses found. This is likely an error.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="clear"></div>

    <div class=" block padded">
        <h2 class="center">Equipment</h2>
        <table>
            <thead>
            <tr>
                <th>Name / type</th>
                <th>Count</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% if characterData.equipment %}
                {% for equipmentItem in characterData.equipment %}
                    <tr>
                        <td class="left">{{ equipmentItem.name }}</td>
                        <td class="center">{{ equipmentItem.count }}</td>
                        <td class="left">{{ equipmentItem.details }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3" class="center note">No equipment found. This is likely an error.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="block padded threesplit">
        <h2 class="center">Defences</h2>
        <table>
            <thead>
            <tr>
                <th>Situation</th>
                <th>Passive</th>
                <th>Active</th>
            </tr>
            </thead>
            <tbody>
            {% for defence in characterData.defences %}
                <tr>
                    <td class="left">{{ defence.label }}</td>
                    <td class="center">{{ defence.value }}</td>
                    <td class="center">{{ defence.roll }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="clear"></div>

    <div class="block padded">
        <h2 class="center">Backgrounds</h2>
        <table>
            <tbody>
            {% if characterData.catches %}
                {% for catch in characterData.catches %}
                    <tr title="{{ catch.description }}">
                        <td class="left">{{ catch.name }}</td>
                        <td class="center">{{ catch.level }}</td>
                        <td class="left">{{ catch.details }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3" class="center note">No backgrounds found</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="clear"></div>

{% endblock %}
