{% extends "layout/page.twig" %}
{% block content %}
    <h1 class="center">Character chart - {{ characterData.name }}</h1>

    {% if characterData.help.top %}
        <p class="help">{{ characterData.help.top }}</p>
    {% endif %}

    <div id="character-display">

        <div class="ui-tabs-container">
            <ul>
                <li>
                    <a href="{{ app.request.basepath }}/character/{{ characterKey }}/#current">
                        Current state
                    </a>
                </li>
                <li>
                    <a href="{{ app.request.basepath }}/character/{{ characterKey }}/#numbers">
                        Numbers
                    </a>
                </li>
                <li>
                    <a href="{{ app.request.basepath }}/character/{{ characterKey }}/#equipment">
                        Equipment &amp; money
                    </a>
                </li>
                <li>
                    <a href="{{ app.request.basepath }}/character/{{ characterKey }}/#interactions">
                        Interactions
                    </a>
                </li>
                <li>
                    <a href="{{ app.request.basepath }}/character/{{ characterKey }}/#descriptions">
                        Descriptions
                    </a>
                </li>
            </ul>
        </div>

        <div class="clear"></div>

        <div id="current">
            {% include "character/_character_current.twig" %}
        </div>

        <div id="numbers">
            {% include "character/_character_numbers.twig" %}
        </div>

        <div id="equipment">
            {% include "character/_character_equipment.twig" %}
        </div>

        <div id="interactions">
            {% include "character/_character_interactions.twig" %}
        </div>

        <div id="descriptions">
            {% include "character/_character_description.twig" %}
        </div>

    </div>

    <script>
        $(function () {
            $("#character-display").tabs({
                active: 0
            });
        });
    </script>

{% endblock %}
