{% extends "layout/page.twig" %}
{% block content %}
    <h1>Character chart - {{ characterData.name }}</h1>

    <div>
        <ul class="linkbox">
            <li>
                <a href="main">
                    Main
                </a>
            </li>
            <li>
                <a href="current" title="Money, Drama, reputation, ...">
                    Current data
                </a>
            </li>
            <li>
                <a href="development" title="Experience expenditures, changes in the card">
                    Development
                </a>
            </li>
            <li>
                <a href="reputation">
                    Reputation
                </a>
            </li>
            <li>
                <a href="print">
                    Printable
                </a>
            </li>
        </ul>
    </div>

    <div class="clear"></div>

    <div class="block padded threesplit">
        <h2 class="center">Public knowledge</h2>
        <table>
            <tbody>
            {% for public in characterData.public %}
                <tr title="{{ public.description }}">
                    <td class="left">{{ public.name }}</td>
                    <td class="center">{{ public.value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="block padded threesplit">
        <h2 class="center">Basic description</h2>

        <div>
            {{ characterData.description }}
        </div>
    </div>

    <div class="clear"></div>

    {% if characterData.descriptions %}
        <h2 class="center">Descriptions</h2>
        {% for description in characterData.descriptions %}
            <div class="block padded twosplit">
                <h3 class="center">{{ description.title }}</h3>
                {{ description.text }}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
