{% extends "layout/page.twig" %}
{% block content %}

    <h1>{{ 'EPIC_TITLE'|trans }}</h1>
    <div class="block padded">
        {% if epicData.help.stories %}
            <p class="help">{{ epicData.help.stories }}</p>
        {% endif %}

        {% if epicData.current %}
            <div id="story-current">
                <h2 class="center">{{ epicData.current.name }}</h2>

                <div class="block padded twothirdsplit">
                    {% if epicData.current.short %}
                        <div class="justified">{{ epicData.current.short|raw }}</div>
                    {% else %}
                        <p class="center note">{{ 'NO_DATA'|trans }}.</p>
                    {% endif %}
                </div>

                <div class="block padded threesplit">
                    {% if epicData.current.parameters %}
                        <table>
                            <tbody>
                            {% for parameter in epicData.current.parameters %}
                                <tr title="{{ parameter.description }}">
                                    <td class="left">{{ parameter.name }}</td>
                                    <td class="center">{{ parameter.value|nl2br }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="center note">{{ 'NO_DATA'|trans }}. {{ 'NO_DATA_ERROR'|trans }}.</p>
                    {% endif %}
                </div>

            </div>
        {% else %}
            <h2 class="center">{{ 'EPIC_STORY_CURRENT'|trans }}: ?</h2>
            <p class="center note">
                {{ 'NO_DATA'|trans }}
            </p>
        {% endif %}

        <div class="clear"></div>

        <div id="story-list">
            {% if epicData.stories %}
                {% for story in epicData.stories %}

                    <div id="story-{{ loop.index }}">
                        <h2 class="center"><a href="story/{{ story.key }}/">{{ story.name }}</a></h2>

                        <div class="block padded twothirdsplit">
                            {% if story.short %}
                                <div class="justified">{{ story.short|raw }}</div>
                            {% else %}
                                <p class="center note">{{ 'NO_DATA'|trans }}.</p>
                            {% endif %}
                        </div>

                        <div class="block padded threesplit">
                            {% if story.parameters %}
                                <table>
                                    <tbody>
                                    {% for parameter in story.parameters %}
                                        <tr title="{{ parameter.description }}">
                                            <td class="left">{{ parameter.name }}</td>
                                            <td class="center">{{ parameter.value|nl2br }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p class="center note">{{ 'NO_DATA'|trans }}. {{ 'NO_DATA_ERROR'|trans }}.</p>
                            {% endif %}
                        </div>

                    </div>

                {% endfor %}
            {% else %}
                <p class="center note">
                    {{ 'NO_DATA'|trans }}. {{ 'NO_DATA_ERROR_LIKELY'|trans }}.
                </p>
            {% endif %}
        </div>
    </div>

    <div class="clear"></div>

{% endblock %}
