{% if personData.help.interactions %}
    <p class="help">{{ personData.help.interactions }}</p>
{% endif %}

<div class="clear"></div>

<div class="block padded full-width">
    <h2 class="center">{{ 'CHARACTER_CHART_HEADER_REPUTATION_TABLE'|trans }}</h2>
    <table>
        <thead>
        <tr>
            <th title="{{ 'REPUTATION_NAME'|trans }}">{{ 'LABEL_REPUTATION'|trans }}</th>
            <th>{{ 'REPUTATION_BALANCE_RANGE'|trans|raw }}</th>
            <th>{{ 'REPUTATION_BALANCE'|trans|raw }}</th>
            <th title="{{ 'REPUTATION_REPUTATION_DICE_TITLE'|trans|raw }}">{{ 'REPUTATION_DICE'|trans }}</th>
            <th title="{{ 'REPUTATION_RECOGNITION_DICE_TITLE'|trans|raw }}">{{ 'REPUTATION_RECOGNITION_DICE'|trans|raw }}</th>
        </tr>
        </thead>
        <tbody>
        {% if personData.person.reputations %}
            {% for reputation in personData.person.reputations %}
                <tr title="{{ reputation.description }}">
                    <td class="left">{{ reputation.name }}</td>
                    <td class="center">
                        {% if reputation.value.positiveMax == reputation.value.negativeMin %}
                            {{ reputation.value.negativeMin }}
                        {% else %}
                            {{ reputation.value.negativeMin }} &ndash; {{ reputation.value.positiveMax }}
                        {% endif %}
                    </td>
                    <td class="center">{{ reputation.value.balance }}</td>
                    <td class="center">{{ reputation.value.dice }}</td>
                    <td class="center">{{ reputation.value.recognitionDice }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5" class="center note">{{ 'NO_DATA'|trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div class="clear"></div>