{% extends "layout/page.twig" %}
{% block content %}
    <h1>{{ 'FRONT_TITLE'|trans }}</h1>
    <p>{{ 'FRONT_WELCOME'|trans }}</p>
    <p class="note">{{ 'FRONT_EXPLANATION'|trans }}</p>
    <p>{{ 'FRONT_OPTIONS'|trans }}:</p>
    <ul>
        <li>
            <a href="party/">{{ 'FRONT_OPTION_PARTY'|trans }}</a>
        </li>
        <li>
            <a href="epic/">{{ 'FRONT_OPTION_EPIC'|trans }}</a>
        </li>
        <li>
            <a href="people/">{{ 'FRONT_OPTION_PEOPLE'|trans }}</a>
        </li>
    </ul>
{% endblock %}
