{% if characterData.help.numbers %}
    <p class="help">{{ characterData.help.numbers }}</p>
{% endif %}

<div class="clear"></div>

<div class="block padded threesplit">
    <h2 class="center">Attributes</h2>
    {% if characterData.attributes %}
        <table>
            <thead>
            <tr>
                <th>Attribute</th>
                <th class="This is the level on which development cost is based on + bonuses from schools, magic, advantages, etc.">
                    Rank&nbsp+ Bonus
                </th>
                <th class="This is the level used for rolls">Total</th>
            </tr>
            </thead>
            <tbody>
            {% for attribute in characterData.attributes %}
                <tr>
                    <td class="left">{{ attribute.name }}</td>
                    <td class="center">{% if attribute.rank %}{{ attribute.rank }}{% else %}{{ attribute.value }}{% endif %}
                        + {% if attribute.bonus %}{{ attribute.bonus }}{% else %}0{% endif %}</td>
                    <td class="center total">{{ attribute.value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="center note">No attributes found. This is an error.</p>
    {% endif %}

    <h2 class="center">Auxiliary stats</h2>
    {% if characterData.rolls %}
        <table>
            <tbody>
            {% for roll in characterData.rolls %}
                <tr>
                    <td class="left">{{ roll.label }}</td>
                    <td class="center">{{ roll.value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="center note">No auxiliary stats found.</p>
    {% endif %}
</div>

<div class="block padded threesplit">
    <h2 class="center">Defences</h2>
    <table>
        <thead>
        <tr>
            <th>Situation</th>
            <th>Passive</th>
            <th>Active</th>
        </tr>
        </thead>
        <tbody>
        {% if characterData.defences %}
            {% for defence in characterData.defences %}
                <tr>
                    <td class="left">{{ defence.label }}</td>
                    <td class="center">{{ defence.value }}</td>
                    <td class="center">{{ defence.roll }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3" class="center note">No defences list found. This is an error.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div class="block padded foursplit">
    <h2 class="center">Languages</h2>
    <table>
        <thead>
        <tr>
            <th>Language</th>
            <th>Proficiency</th>
        </tr>
        </thead>
        <tbody>
        {% if characterData.languages %}
            {% for language in characterData.languages %}
                <tr title="{{ language.description }}">
                    <td class="left">{{ language.name }}</td>
                    <td class="center">{{ language.level }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2" class="center note">No languages found. This is likely an error.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div class="clear"></div>

<div class="block padded">
    <h2 class="center">Advantages</h2>
    <table>
        <thead>
        <tr>
            <th>Advantage</th>
            <th>Level</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        {% if characterData.advantages %}
            {% for advantage in characterData.advantages %}
                <tr title="{{ advantage.description }}">
                    <td class="left">{{ advantage.name }}</td>
                    <td class="center">{{ advantage.level }}</td>
                    <td class="left">{{ advantage.details }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3" class="center note">No advantages found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div class="clear"></div>

<div>
    <h2 class="center">Abilities</h2>
    {% if characterData.professions %}
        {% for profession in characterData.professions %}
            <div class="block threesplit">
                <h3 class="center">{{ profession.name }}</h3>
                <table>
                    <tbody>
                    {% for skill in profession.skills %}
                        <tr class="{{ skill.class }}">
                            <td class="left">{{ skill.name }}</td>
                            <td class="center">{{ skill.value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if (loop.index%3) == 0 %}
                <div class="clear"></div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p class="center note">No abilities found. This is an error.</p>
    {% endif %}
</div>

<div class="clear"></div>
