{% if characterData.help.history %}
    <p class="help">{{ characterData.help.history }}</p>
{% endif %}

<div class="clear"></div>

<div class="block padded full-width">
    <h2 class="center">Developments</h2>
    <table>
        <thead>
        <tr>
            <th>Subject</th>
            <th>Change</th>
            <th>New<br>value</th>
            <th>XP<br>cost</th>
            <th>When</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        {% if characterData.development %}
            {% for developmentItem in characterData.development %}
                <tr>
                    <td class="left">{{ developmentItem.subject }}</td>
                    <td class="center">{{ developmentItem.change }}</td>
                    <td class="center">{{ developmentItem.newValue }}</td>
                    <td class="center">{{ developmentItem.cost }}</td>
                    <td class="center">{{ developmentItem.when }}</td>
                    <td class="justified">{{ developmentItem.notes }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" class="center note">No data available</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div class="clear"></div>

<div class="block padded full-width">
    <h2 class="center">Reputation events</h2>
    <table>
        <thead>
        <tr>
            <th>Event</th>
            <th>Reputation</th>
            <th>Change</th>
            <th>New<br>value</th>
            <th>When</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        {% if characterData.reputationHistory %}
            {% for reputationEvent in characterData.reputationHistory %}
                <tr>
                    <td class="left">{{ reputationEvent.name }}</td>
                    <td class="center">{{ reputationEvent.reputation }}</td>
                    <td class="center">{{ reputationEvent.change }}</td>
                    <td class="center">{{ reputationEvent.newValue }}</td>
                    <td class="center">{{ reputationEvent.when }}</td>
                    <td class="justified">{{ reputationEvent.notes }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" class="center note">No data available</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div class="clear"></div>