{% if characterData.help.numbers %}
    <p class="help">{{ characterData.help.numbers }}</p>
{% endif %}

<div class="clear"></div>

<div class="block padded threesplit">
    <h2 class="center">{{ 'CHARACTER_CHART_HEADER_ATTRIBUTES'|trans }}</h2>
    {% if characterData.attributes %}
        <table>
            <thead>
            <tr>
                <th>{{ 'LABEL_ATTRIBUTE'|trans }}</th>
                <th class="This is the level on which development cost is based on + bonuses from schools, magic, advantages, etc.">
                    Rank&nbsp+ Bonus
                </th>
                <th class="This is the level used for rolls">Total</th>
            </tr>
            </thead>
            <tbody>
            {% for attribute in characterData.attributes %}
                <tr>
                    <td class="left">{{ attribute.name }}</td>
                    <td class="center">{% if attribute.rank %}{{ attribute.rank }}{% else %}{{ attribute.value }}{% endif %}
                        + {% if attribute.bonus %}{{ attribute.bonus }}{% else %}0{% endif %}</td>
                    <td class="center total">{{ attribute.value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="center note">{{ 'NO_DATA'|trans }}. {{ 'NO_DATA_ERROR'|trans }}.</p>
    {% endif %}

    <h2 class="center">{{ 'CHARACTER_CHART_HEADER_AUXILIARY'|trans }}</h2>
    {% if characterData.rolls %}
        <table>
            <tbody>
            {% for roll in characterData.rolls %}
                <tr>
                    <td class="left">{{ roll.label }}</td>
                    <td class="center">{{ roll.value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="center note">{{ 'NO_DATA'|trans }}.</p>
    {% endif %}
</div>

<div class="block padded threesplit">
    <h2 class="center">{{ 'CHARACTER_CHART_HEADER_DEFENCES'|trans }}</h2>
    <table>
        <thead>
        <tr>
            <th>{{ 'LABEL_SITUATION'|trans }}</th>
            <th>{{ 'LABEL_PASSIVE_F'|trans }}</th>
            <th>{{ 'LABEL_ACTIVE_F'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% if characterData.defences %}
            {% for defence in characterData.defences %}
                <tr>
                    <td class="left">{{ defence.label }}</td>
                    <td class="center">{{ defence.value }}</td>
                    <td class="center">{{ defence.roll }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3" class="center note">{{ 'NO_DATA'|trans }}. {{ 'NO_DATA_ERROR'|trans }}.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div class="block padded foursplit">
    <h2 class="center">{{ 'CHARACTER_CHART_HEADER_LANGUAGES'|trans }}</h2>
    <table>
        <thead>
        <tr>
            <th>{{ 'LABEL_LANGUAGE'|trans }}</th>
            <th>{{ 'LABEL_PROFICIENCY'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% if characterData.languages %}
            {% for language in characterData.languages %}
                <tr title="{{ language.description }}">
                    <td class="left">{{ language.name }}</td>
                    <td class="center">{{ language.level }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2" class="center note">{{ 'NO_DATA'|trans }}. This is likely an error.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div class="clear"></div>

<div class="block padded">
    <h2 class="center">{{ 'CHARACTER_CHART_HEADER_ADVANTAGES_AND_DISADVANTAGES'|trans }}</h2>
    <table>
        <thead>
        <tr>
            <th>{{ 'LABEL_ADVANTAGE'|trans }} / {{ 'LABEL_DISADVANTAGE'|trans }}</th>
            <th>{{ 'LABEL_LEVEL'|trans }}</th>
            <th>{{ 'LABEL_DESCRIPTION'|trans }} / <span class="note">{{ 'LABEL_DETAILS'|trans }}</span></th>
        </tr>
        </thead>
        <tbody>
        {% if characterData.advantages %}
            {% for advantage in characterData.advantages %}
                <tr title="{{ advantage.description }}">
                    <td class="left">{{ advantage.name }}</td>
                    <td class="center">{{ advantage.level }}</td>
                    <td class="justified">
                        {{ advantage.description }}{% if advantage.details %} <span class="note">{{ advantage.details }}</span>{% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3" class="center note">{{ 'NO_DATA'|trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div class="clear"></div>

{% if characterData.stunts %}
    <div class="block padded">
        <h2 class="center">{{ 'CHARACTER_CHART_HEADER_TECHNIQUES'|trans }}</h2>
        <table>
            <thead>
            <tr>
                <th>{{ 'LABEL_TECHNIQUE'|trans }}</th>
                <th>{{ 'LABEL_DESCRIPTION'|trans }} / <span class="note">{{ 'LABEL_DETAILS'|trans }}</span></th>
            </tr>
            </thead>
            <tbody>
            {% for stunt in characterData.stunts %}
                <tr title="{{ stunt.description }}">
                    <td class="left">{{ stunt.name }}</td>
                    <td class="justified">
                        {{ stunt.description }}{% if stunt.details %} <span class="note">{{ stunt.details }}</span>{% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="clear"></div>

{% endif %}

<div>
    <h2 class="center">{{ 'CHARACTER_CHART_HEADER_ABILITIES'|trans }}</h2>
    {% if characterData.professions %}
        {% for profession in characterData.professions %}
            <div class="block foursplit">
                <table class="profession-table">
                    <caption class="center">{{ profession.name }}</caption>
                    <tbody>
                    {% for skill in profession.skills %}
                        <tr class="{{ skill.class }}">
                            <td class="left">{{ skill.name }}</td>
                            <td class="center">{{ skill.value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if (loop.index%4) == 0 %}
                <div class="clear"></div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p class="center note">{{ 'NO_DATA'|trans }}. {{ 'NO_DATA_ERROR'|trans }}.</p>
    {% endif %}
</div>

<div class="clear"></div>
