<div class="block padded">
    <h2 class="center">Reputation table</h2>
    <table>
        <thead>
        <tr>
            <th>Reputation</th>
            <th>Negative</th>
            <th>Positive</th>
            <th>Balance</th>
            <th>Dice</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        {% for reputation in characterData.reputations %}
            <tr title="{{ reputation.description }}">
                <td class="left">{{ reputation.name }}</td>
                <td class="center" title="Lowest ever: {{ reputation.negativeMin }}">{{ reputation.negative }}</td>
                <td class="center" title="Highest ever: {{ reputation.positiveMax }}">{{ reputation.positive }}</td>
                <td class="center">{{ reputation.balance }}</td>
                <td class="center">{{ reputation.dice }}</td>
                <td class="left">{{ reputation.details }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="clear"></div>

<div class="block padded">
    <h2 class="center">Contacts</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Who is this?</th>
            <th>Who is this to you?</th>
            <th>Attitude towards you</th>
            <th>Usefulness</th>
            <th>Your knowledge</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        {% if characterData.contacts %}
            {% for contact in characterData.contacts %}
                <tr>
                    <td class="left">{{ contact.name }}</td>
                    <td class="left">{{ contact.whoGenerally }}</td>
                    <td class="left">{{ contact.whoToPerson }}</td>
                    <td class="center">{{ contact.like }}</td>
                    <td class="center">{{ contact.usefulness }}</td>
                    <td class="center">{{ contact.knowledge }}</td>
                    <td class="center">{{ contact.details }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7" class="center note">No contacts found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div class="clear"></div>

<div class="block padded">
    <h2 class="center">Backgrounds</h2>
    <table>
        <thead>
        <tr>
            <th>Type</th>
            <th>Level</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        {% if characterData.catches %}
            {% for catch in characterData.catches %}
                <tr title="{{ catch.description }}">
                    <td class="left">{{ catch.name }}</td>
                    <td class="center">{{ catch.level }}</td>
                    <td class="left">{{ catch.details }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3" class="center note">No backgrounds found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div class="clear"></div>