<p class="footer">
    Webpage created by {{ display.interface.copyright.name }} on {{ display.interface.copyright.license }} license,
    copyleft
    {% if display.interface.copyright.start == display.interface.copyright.end %}
        {{ display.interface.copyright.start }}.
    {% else %}
        {{ display.interface.copyright.start }} - {{ display.interface.copyright.end }}.
    {% endif %}
    {% if display.interface.GMdBy %}
        Campaign by {{ display.interface.GMdBy }}.
    {% endif %}
</p>
