<div class="menu">
    <a href="{{ app.request.basepath }}/">{{ 'Main'|trans }}</a>
    <a href="{{ app.request.basepath }}/party/">{{ 'Party'|trans }}</a>
    <a href="{{ app.request.basepath }}/campaign/">{{ 'Campaign'|trans }}</a>
</div>
