<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - {{ display.interface.titleSuffix }}</title>
        <meta charset="utf-8">
        {% block stylesheets %}
            <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" media="all" />
            <link href="{{ app.request.basepath }}/css/layout/{{ display.layout }}.css" rel="stylesheet" media="all" />
        {% endblock %}
    </head>
    <body>
        {% include "layout/header.twig" %}
        {% block content %}{% endblock %}
        {% include "layout/footer.twig" %}
    </body>
</html>
